.container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 32rem;
  width: 300px;
  height: 500px;
  padding: 15px;
  background-color: rgb(227, 233, 231);
  box-shadow: 10px 10px 5px rgb(179, 197, 202);
}

.image1 {
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
}

.name {
  color: rgb(62, 188, 238);
  font-weight: bold;
  font-size: 3rem;
  margin-top: -0.5rem;
}

.location {
  margin-top: -2.6rem;
  color: grey;
}
.realloc,
.blood,
.employeeage {
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.bloodgroup,
.age {
  margin-top: -0.5rem;
  color: grey;
}
